<h1>Enter your gains here.</h1>
<h3>Your workout entries:</h3>

<form method="post">
  <input type="text" name="name" id="name">
  <input type="text" name="reps" id="reps">
  <input type="text" name="weight" id="weight">
  <input type="text" name="date" id="date">
  <input type="text" name="unit" id="unit">
  <input type="submit" name="Add Item" value="Add Exercise">
</form>

<p>{{results}}</p>