
<h1>Enter your gains here.</h1>
<h3>Your workout entries:</h3>

<form method="post">
  <label>Name<input type="text" name="name" id="name"></label>
  <label>Rep Count<input type="text" name="reps" id="reps"></label>
  <label>Weight<input type="text" name="weight" id="weight"></label>
  <label>Date<input type="text" name="date" id="date"></label>
  <label>Unit<input type="text" name="unit" id="lbs"></label>
  <label>Name<input id="addEx" type="submit" name="Add Item" value="Add Exercise">
</form>

<p>{{results}}</p>

<script>
	function insert(){
        var req = new XMLHttpRequest();

        var name = document.getElementById("name").value;
        var reps = document.getElementById("reps").value;
        var weight = document.getElementById("weight").value;
        var date = document.getElementById("date").value;
        var lbs = document.getElementById("lbs").value;

        req.open("GET", "http://52.88.140.54:3000/insert?name=" + name + "&reps=" + reps + "&weight=" + weight + "&date=" + date + "&lbs=" + lbs, true);
        req.setRequestHeader("Content-type", "application/json");
        req.addEventListener("load", function(){
                console.log("done: ", req.status);
                        });
        req.send(null);

	}

	document.getElementById("addEx").addEventListener("click", insert);
</script>