<h1>Enter your gains here.</h1>
<h3>Your workout entries:</h3>

<form method="post">
  <input type="text" name="name" id="toDoName">
  <input type="submit" name="Add Item" value="Add Exercise">
</form>

<p>{{results}}</p>